<div>
  <h4>Merge Article</h4>
  <%= remote_form_for(:articles, article,
                    :url => { :controller => 'articles', :action => 'merge_article'},
                    :update => "content-#{article.id}") do |f| %>
    <%= text_field("Article ID", :merge_with) %>
    <input type='hidden' name='article[id]' value='<%= article.id %>' />
    <%= submit_to_remote('merge', _('Merge') + '!',
                       :update => "content-#{article.id}",
                       :url => {:controller => 'articles', :action => 'check_password'}) %>
  <% end %>
</div>
